
.book-card {
  position: relative;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  transition: transform 0.5s ease, box-shadow 0.3s ease;
}
.book-card a {
  text-decoration: none;
  color: inherit;
}

.book-card a:hover h5,
.book-card a:hover p {
  text-decoration: none;
  color: inherit;
}

.book-card h5 {
  margin: 0;
  color: #333;
}

.book-card p {
  color: #555;
}


.book-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.book-image-container {
  width: 100%;
  height: auto;
  position: relative;
}

.book-image {
  width: 100%;
  height: auto;
}

.cart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/* Page wrapper styling */
.page-wrapper {
  position: relative;
}

/* Cart icon positioning */
.main-content {
  position: relative; /* Ensure main content is positioned relative */
}

.main-content .cart-nav-link {
  position: absolute;
  top: 10px; /* Adjust top position as needed */
  right: 10px; /* Adjust right position as needed */
}

/* Cart icon styling */
.cart-nav-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.cart-summary {
  position: relative;
  display: inline-block;
}

.cart-quantity {
  position: absolute;
  top: -10px;
  right: -10px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 12px;
}

.cart-price {
  display: block;
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
}