.book-detail-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  color: #333;
  flex-wrap: wrap;
}

.book-img-container {
  flex: 1;
  max-width: 300px;
  margin-right: 20px;
}

.book-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 50px;
}

.book-details {
  flex: 2;
}

.book-title {
  text-align: left;
  font-size: 2rem;
  color: black;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-top: 70px;
}

.book-author,
.book-category,
.book-description {
  margin-bottom: 10px;
  font-size: 1rem;
  margin-left: 50px;
  margin-right: 20px;
}

.add-now-button {
  margin-top: 20px;
  margin-left: 50px;
  padding: 10px 150px;
  font-size: 1rem;
  background-color: #1D4ED8; /* Adjust to your preferred color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.bd-cart-nav-link {
  position: absolute;
  top: 15px; /* Move a little further down from the top */
  right: 30px; /* Move a little further from the right */
  /* left: 0    px; */
}
/* Responsive Design */

/* For tablets */
@media (max-width: 768px) {
  .book-detail-container {
    flex-direction: column;
    padding: 15px;
  }

  .book-img-container {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .book-title {
    font-size: 1.8rem;
  }

  .book-author,
  .book-category,
  .book-description {
    font-size: 0.95rem;
  }

  .add-now-button {
    width: 100%;
    text-align: center;
  }
}

/* For mobile phones */
@media (max-width: 480px) {
  .book-detail-container {
    padding: 10px;
  }

  .book-title {
    font-size: 1.5rem;
  }

  .book-author,
  .book-genre,
  .book-published,
  .book-description {
    font-size: 0.9rem;
  }

  .add-now-button {
    width: 100%;
    text-align: center;
  }
}
