.footer-container {
  width: 100%;
  padding: 2em 1em;
  background-color: rgb(228, 249, 249); 
  color: black; 
}

.footer-content {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  align-items: center;
  padding: 2rem 0; 
  color: black;
}

.footer-content a {
  text-decoration: none; 
  font-size: 0.9rem; 
  color: #000;
}

.footer-content a:hover {
  text-decoration: underline;
  color: #000000b6;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black; 
  font-size: 0.8rem; 
}

.social-icons {
  display: flex;
  gap: 1rem; 
  margin-top: 1rem; 
}

.social-icons a {
  color: black; 
  font-size: 1.5rem; 
}

.social-icons a:hover { 
  color: gray; 
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .social-icons {
    justify-content: center; 
  }
}
