.header {
  background-color: rgb(228, 249, 249);
  padding: 1.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: medium;
  font-weight: 400;
}

.logo {
  display: flex;
  align-items: center;
}

.nav-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.header nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  margin-left: 350px;
}

.header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.header nav ul li {
  margin: 0 1em;
}

.header nav ul li a {
  box-shadow: inset 0 0 0 0 #54b3d6;
  text-decoration: none;
  color: black;
  padding: 0.25rem 0.5rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.header nav ul li a:hover {
  text-decoration: underline;
  color: #163ef2;
}

.header img {
  width: 50px;
  height: 50px;
  padding: 0;
}

.logout-container {
  display: flex;
  align-items: center;
}

.logout-button {
  background-color: #f00;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: auto; /* Ensures the button is pushed to the far right */
}

.logout-button:hover {
  background-color: #d00;
}

