.header {
  background-color: rgb(228, 249, 249);
  padding: 0.5em 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-size: medium;
  font-weight: 400;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
}
.header img {
  width: 50px;
  height: 50px;
  padding: 0;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  align-items: center;
}

nav ul li {
  margin: 10px ;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

.logout-button {
  background-color: #f44336; /* Red background for logout button */
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  /* margin-left: 270px; */
}

.logout-button:hover {
  background-color: #d32f2f;
}

/* Mobile styles */
@media (max-width: 768px) {
  .header {
    flex-direction: row;
    align-items:flex-start;
  }

  .logo {
    margin-bottom: 10px;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
    display: none; /* Hidden by default on mobile */
  }

  nav ul.show {
    display: flex;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger:hover {
    display: block;
    cursor: pointer;
    background-color: white;
  }

  .hamburger div {
    width: 30px;
    height: 3px;
    background: #333;
    margin: 6px 0;
    transition: 0.3s;
  }
}
