.lrcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin-top: 3rem; 
  transition: transform 0.2s;
}

.lrcontainer:hover {
  transform: scale(1.02);
}

.register-page, .login-page {
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  min-height: 100vh; 
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.register-page {
  background-image: url('https://dpdajlq3ew794.cloudfront.net/20190925093636/montreal-bookstore.jpg?format=auto&width=1200');
}

.login-page {
  background-image: url('https://static01.nyt.com/images/2017/05/11/t-magazine/bookstore-slide-2MCD/bookstore-slide-2MCD-superJumbo.jpg?quality=75&auto=webp');
}

.register-page .lrcontainer,
.login-page .lrcontainer {
  z-index: 1; 
  background: rgba(255, 255, 255, 0.8); 
  padding: 3rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

h1, h2 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color:black;
  text-align: center;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

input {
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  transition: border 0.2s;
}

input:focus {
  border-color:  #1D4ED8;
}

.google-btn,.forgetPswd,.login-btn,.register-btn {
  padding: 12px;                                                                     
  margin-top: 12px;
  border: none;
  border-radius: 6px;
  background-color: #1D4ED8;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
  align-items: center;
}

.google-btn,.forgetPswd, .register-btn,.login-btn:hover {
  background-color: #0056b3;
  transform: scale(1.02);
}

.google-btn,.forgetPswd,.register-btn,.login-btn:focus {
  outline: none;
}
.forgetPswd{
  background-color:  #1D4ED8;
  margin-left: 70px;
}
.register-btn{
  background-color:  #1D4ED8;
}
.forgetPswd:hover{
  background-color:  #0056b3;
}

.register-btn:hover{
  background-color:  #0056b3;
}
.error {
  color: red;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.google-btn {
  background-color: rgba(255, 255, 255, 0.201);
  color: black;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 24px;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center; 
  transition: background-color 0.3s, border-color 0.3s;
  text-transform: none;
  width: 80%; 
}

.google-btn img {
  margin-right: 10px;
  vertical-align: middle;
  height: 20px;
}

.google-btn:hover {
  background-color: #c7c7c775;
}

