.App {
  text-align: center;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}
.login, .home{
  text-align: center;
}
input{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-right: 5px;
  margin-bottom: 10px;
}
  
button{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-right: 5px;
  margin-top: 10px;
  background-color: rgb(158, 158, 219);
}

button:hover{
  background-color: gray;
}
p.error{
  color: red;
  text-align: center;
  font-weight: bold;
}